# Global Environment Variables Template

# 1. Database
MONGO_URI=mongodb://127.0.0.1:27017/design-desk

# 2. Server Environment
NODE_ENV=development
PORT=4000

# 3. Authentication (Auth Service)
JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRES_IN=1h

# 4. Media & Assets (Asset Service)
IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_id/
